body{
    margin: 0;
    font-family: sans-serif;
    background: #f5f5f5;
}

.header{
    text-align: center;
    padding: 80px 20px;
    background: white;
    border-bottom: 1px solid #ddd;
}

button{
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: white;
    border-bottom: 1px solid #ddd;
}
.navbar .sticky{
    position: sticky;
    top: 0;
    z-index: 1000;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.nav-links li a{
    padding: 8px 15px;
    transition: 0.3s;
    border-radius: 5px;
}
.nav-links li a:hover{
    background: #f1f1f1;
    color: #000;
}
.nav-icons{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}
.nav-icons div:hover{
    transform: scale(1,2);
    transition: transform 0.2s;
    cursor: pointer;
}
.cart-count{
    background: red;
    color: white;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 50%;
    position: relative;
    top: -10px;
    right: 10px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;

}
.nav-links a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.burger{
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media (max-width: 768px){
    .nav-links{
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        width: 200px;
        padding: 20px;
        flex-direction: column;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    
    .nav-links.show{
        display: flex;
    }
    .burger{display: block;
    }
}

.hero{
    height: 80vh;
    background: 
    url('https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1400&q=60');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.hero-content{
    background: rgba(255, 255, 255, 0.329);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 600px;
}
.hero h1{
    font-size: 32px;
    margin-bottom: 15px;
}
.hero p{
    font-size: 18px;
    margin-bottom: 20px;
}
.hero-btn{
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}
.hero-btn:hover{
    background: #eec5c5;
}
/* --- Products Section --- */

.products{
    padding: 50px 20px;
    background: #f8f8f8;
}
.products h2{
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: bold;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.product-card{
    background: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}
.product-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.product-card img{
    width: 100%;
    height: 230px;
    object-fit: contain;
    margin-bottom: 15px;
}
.product-card h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.price{
    font-size: 18px;
    color: #27ae60;
    margin-bottom: 15px;
    font-weight: bold;
}
.buy-btn{
    background: rgb(224, 105, 105);
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

/*--- Responsive Grid ---*/

/* تبلت */
@media (max-width:900px){
    .product-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
/* موبایل */
@media (max-width:600px){
    .product-grid{
        grid-template-columns: 1fr;
    }
}
.features{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 50px 20px;
    background: #fff;
    flex-wrap: wrap;
    gap: 20px;
}
.features-card{
    flex: 1 1 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.features-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.features-card h3{
    margin: 15px 0 10px 0;
}
.features-card p{
    font-size: 16px;
    color: #555;
}
.testimonials{
    padding: 50px 20px;
    background: #f8f8f8;
    text-align: center;
}
.testimonials h2{
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
}
.testimonial-card{
    background: white;
    padding: 20px;
    margin: 10px auto; 
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.testimonial-card h4{
    margin-top: 15px;
    color: #333;
}
footer{
    background: #222;
    color: white;
    padding: 40px 20px;
    text-align: center;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.footer-links a{
    color: white;
    margin: 0 10px;
    text-decoration: none;
}
.footer-links a:hover{
    text-decoration: underline;
}
.socials a{
    margin: 0 8px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
.socials a:hover{
    color: #ccc;
}
footer p{
    font-size: 14px;
    color: #aaa;
}